:root {
  --sb-bg-color: #4B5563;
  --sb-link-color: #f3f4f6;
  --sb-width: 250px;
  --sb-padding: 20px;
  --header-bg-color: #fff;
  --header-height: 120px;
}

body {
  display: grid;
  grid-template: var(--header-height) auto / var(--sb-width) auto;
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background: var(--sb-bg-color);
  padding: var(--sb-padding);
  display: flex;
  flex-direction: column;
  height: calc(100vh - calc(2 * var(--sb-padding))); /* 100vh offset by sidebar padding */
  position: fixed;
  width: calc(var(--sb-width) - 2 * var(--sb-padding)); /* position: fixed prevents width from being inherited from parent. width set to sb-width offset by sidebar padding */
}

.profile-management,
.profile-utilities {
  margin-top: 50px;
}

.sb-link {
  color: var(--sb-link-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 3px;
}

.sb-link:hover {
  transform: scale(1.1);
}

.logo,
.gh-logo {
  width: 42px;
  height; 42px;
}

.nav-icon {
  fill: pink;
  width: 24px;
  height: 24px;
}

/* works with inline svg recoloring, not linked */
svg {
  fill: blue;
}

span {
  margin-left: 15px;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  border: 1px solid orange;
  position: sticky;
  top: calc(var(--header-height) / 2 * -1); /* results in .header-bot sticky at top of screen */
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  background-color: var(--header-bg-color);
}

.header-bot {
  display: grid;
  grid-template-columns: 1fr 275px;
  background-color: var(--header-bg-color);
}

.search {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  padding: 10px;
}

.search-entry {
  border-radius: 8px;
  max-width: 500px;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-logo {
  transform: scale(0.8);
}

.TOP-container {
  display: flex;
  padding: 10px;
}

.odin-logo {
  width: 24px;
}

.TOP-link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: none;
}

.TOP-link > span {
  font-size: 16px;
  font-weight: bold;
  min-width: 90px;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  padding: 10px;
}

button {
  background: #8080C4;
  color: white;
  padding: 5px;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  border: 1px solid green;
  display: grid;
  grid-template-columns: 3fr minmax(225px, 1fr);
  grid-gap: 5px;
}

.project-container,
.main-exercises-container {
  padding: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 5px;
}

.project-card {
  min-width: 350px;
  height: 300px;
  border: 1px solid orange;
}

.icon-view,
.icon-gh {
  width: 24px;
  height: 24px;
  margin: 3px;
}

.main-content > * {
  border: 1px solid green;
}

.project-card > img {
  min-width: 100px;
  max-width: 350px;
}
