:root {
  --sb-bg-color: #95dab6;
  --sb-link-color: #f3f4f6;
  --sb-width: 250px;
  --sb-padding: 20px;
  --header-bg-color: #fff;
  --header-height: 96px;
  --content-bg-color: #ececec;
  --accent-color: #83b2d0;
}

body {
  display: grid;
  grid-template: var(--header-height) auto / var(--sb-width) auto;
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}

h3,
.TOP-link span,
.exercise a,
.project-card a {
  text-shadow: 0.05em 0.05em 0.1em gray;
}

.sidebar,
.header {
  box-shadow: 1px 3px 7px gray;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background: var(--sb-bg-color);
  padding: var(--sb-padding);
  display: flex;
  flex-direction: column;
  height: calc(100vh - calc(2 * var(--sb-padding))); /* 100vh offset by sidebar padding */
  position: fixed;
  width: calc(var(--sb-width) - 2 * var(--sb-padding)); /* position: fixed prevents width from being inherited from parent. width set to sb-width offset by sidebar padding */
  z-index: 1;
}

.profile-management,
.profile-utilities {
  margin-top: 50px;
}

.sb-link {
  color: var(--sb-link-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 3px;
  text-shadow: 2px 0.05em 3px black;
}

.sb-link:hover {
  transform: scale(1.1);
}

.sb-link span {
  font-weight: bold;
  margin-left: 15px;
}

.page-logo,
.nav-icon {
  fill: var(--sb-link-color);
}

.page-logo {
  width: 42px;
  height; 42px;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

/* works with inline svg recoloring, not linked */
svg {
  filter: drop-shadow(0.1em 0.1em 0.1em grey);
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  position: sticky;
  top: calc(var(--header-height) / 2 * -1); /* results in .header-bot sticky at top of screen */
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  background-color: var(--header-bg-color);
}

.header-bot {
  display: grid;
  grid-template-columns: 1fr 275px;
  background-color: var(--header-bg-color);
  height: calc(var(--header-height) / 2);
  padding: 0px;
}

.search {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.search-entry {
  border-radius: 12px;
  width: clamp(200px, 80%, 500px);
  height: 25px;
  background: var(--content-bg-color);
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-link a {
  margin: 0px;
}

.gh-logo {
  width: 32px;
  height: 32px;
  fill: var(--sb-bg-color);
}

.TOP-container {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.TOP-logo {
  height: 30px;
}

.TOP-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: min-content;
}

.TOP-link span {
  font-size: 16px;
  font-weight: bold;
  min-width: 90px;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background: var(--sb-bg-color);
  color: white;
  height: 30px;
  padding: 0px 15px;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-shadow: 0.05em 0.05em 0.1em gray;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 3fr minmax(250px, 1fr);
  grid-gap: 5px;
}

.project-container,
.main-exercises-container {
  padding: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  border-left: 6px solid var(--accent-color);
}

.project-card,
.js-exercises,
.css-exercises {
  box-shadow: 1px 3px 4px gray;
  background: white;
}

.project-card a,
.exercise a {
  text-decoration: none;
}

.project-card img {
  width: 100%;
  padding: 7px 0px;
  border-radius: 15px;
}

.preview-container {
  align-self: flex-end;
  margin-top: auto;
}

.icon-view,
.icon-gh {
  width: 24px;
  height: 24px;
  margin: 3px;
  fill: var(--sb-bg-color);
}

.icon-view:hover,
.icon-gh:hover {
  transform: scale(1.1);
}

.js-exercises,
.css-exercises {
  border-radius: 10px;
  padding: 10px;
}

.exercise a {
  font-size: 0.9em;
}

.exercise p {
  font-size: 0.7em;
}

hr {
  color: var(--sb-bg-color);
  border-top: 1px; /* change from default thickness */
}

.main-content,
.main-exercises-container {
  background: var(--content-bg-color);
}

